@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    body{
        background-image: linear-gradient(to top, #6337c7 , rgb(194, 38, 38));
    }
    img{
        float: left;
        width: 50%;
        height: 270px;
        border-radius: 15px 0px  0px 15px;
    }
    main{
        padding: 0px;
        width: 100vw;
        height: 100vh;
    }
    p{
        font-size: 0.8em;
    }
    section{
      width: 80vw;
      height: 270px;
    }
    form{
        display: block;
        float: right;
    }
    span{
        width:39vw;
    }
    input#imail, input#isenha{
        max-width: 35vw;
        padding: 8px;
    }
    div#submit > input{
       width: 98%;
       padding: 10px;
    }
    div#esq-senha > input{
    width: 98%;
    padding: 10px;
}
}


@media screen and (min-width:992px){
    body{
        background-image: linear-gradient(to top, #6337c7 , rgb(194, 38, 38));
    }
    img{
        float: right;
        width: 50%;
        height: 350px;
        border-radius: 0px 15px  15px 0px;
    }
    main{
        padding: 0px;
        width: 100vw;
        height: 100vh;
    }
    section{
      width:65%;
      height: 350px;
    }
    form{
        display: block;
        float: left;
    }
    span{
        width: 32vw;

    }
    input#imail, input#isenha{
        width: 25vw;
        padding: 8px;
    }
    div#submit > input{
       width: 32vw;
       padding: 10px;
    }
    div#esq-senha > input{
    width: 32vw;
    padding: 10px;
}
}
