@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    img{
        float: left;
        width: 38vw;
        height: 40vh;
        border-radius: 15px 0px  0px 15px;
    }
    main{
        padding: 0px;
        width: 85vw;
        height: 40vh;
    }
    p{
        font-size: 1em;
    }
    form{
        display: block;
        float: right;
    }
    span{
        width: 46vw;
    }
    input#imail, input#isenha{
        max-width: 35vw;
        padding: 8px;
    }
    div#submit > input{
       width: 98%;
       padding: 10px;
    }
    div#esq-senha > input{
    width: 98%;
    padding: 10px;
}
}


@media screen and (min-width:992px){
    body{
        background-color: aquamarine;
    }
    img{
        float: left;
        width: 40%;
        height: 100%;
        border-radius: 15px 0px  0px 15px;
    }
    form{
        display: block;
        float: right;
}
    main{
        width: 990px;
        height: 500px;
    }
}
@media screen and (min-width:992px){
    img{
        display: block;
        float: left;
        width: 80%;
        height: 100%;
        border-radius: 15px 0px  0px 15px;
    }
    form{
        display: block;
        float: right;
}
    main{
        width: 80vw;
        height: 40vh;
    }
}