@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: bisque;
    
}
img{
    width: 400px;
}
main{
    position: relative;
    background-color: white;
    text-align: center;
    width: 400px;
    margin: auto;
    top:200px;
}
input{
    margin: 2px;
}

