@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: bisque;
    
}
img{
    width: 50vw;
}
main{
    
    background-color: white;
    text-align: center;
    margin: 0px;
}
section{
    width: 50vw;
    background-color: white;
    text-align: center;
    margin: 0px;
}
#container{
    position: relative;
}
#login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 10%);
    
}

input{
    margin: 2px;
}

